body{
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}

/*navbar - intro styles*/
.background{
    width: 100%;
    height: 100vh;
    background: url(../image/background/background-intro.png);
    background-size: cover;
    background-position: center;
    
}

nav{
    background: #05ac87;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 35px 200px;
    box-sizing: border-box;
    transition: .3s;
}

nav ul{
    list-style: none;
    float: center;
    margin: -10px;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 20px;
    color:white;
    font-size: 18px;
    padding: 12px 70px;
    text-decoration: none;
    transition: .3s;
}

/*intro text*/

.header h1{
    position: absolute;
    top: 23%;
    left: 53%;
    font-size: 60px;
    font-family: 'Sunflower';
    text-align: center;
}

.header button{
    font-family: Tahoma;
    font-size: 18px;
    color:#fff;
    background: #05ac87;
    padding: 12px 32px;
    border: none;
    position: absolute;
    top: 65%;
    left: 65%;
}

.header p.name{
    position: absolute;
    top: 37%;
    right: 55%;
    font-size: 30px;
    text-align: justify
}

.header p.description{
    position: absolute;
    top: 47%;
    right: 49.5%;
    font-size: 14px;
    text-align: justify
}